.item {
  display: flex;
  width: 100%;
  gap: 12px;
}

.wrapper {
  width: 64px;
  height: 64px;
  background-color: #e5e7e7;
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}

.title {
  font-size: 14px;
}

.extra {
  font-size: 12px;
  color: #6c7872;
}

.info {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
