.pagination {
  display: flex;
  width: 100%;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.pageNumber {
  padding: 8px;
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
}

.pageNumber:disabled {
  color: gray !important;
  cursor: default;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.arrow {
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
  padding: 2px 5px;
}

.arrow:disabled {
  color: gray !important;
  cursor: default;
}

.pagination.dark .pageNumber,
.pagination.dark .arrow {
  background-color: #23272f;
  color: #f6f7f9;
}

.pagination.light .pageNumber,
.pagination.light .arrow {
  background-color: white;
  color: black;
}
